DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=         

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

UPLOADTHING_SECRET=sk_live_...
UPLOADTHING_APP_ID=

RESEND_API_KEY=re_...

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=/api

NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ...
